# === EWS Configuration ===
EWS_URL=https://company.example.com/EWS/Exchange.asmx
EWS_USERNAME=you@example.com
EWS_PASSWORD=replace_me
EWS_IGNORED_MEETINGS=занят,обед

# === Jira Configuration ===
JIRA_BASE_URL=https://your-jira.example.com
JIRA_EMAIL=you@example.com
JIRA_API_TOKEN=replace_me

DEFAULT_ISSUE=ODP-1234
WORKDAY_HOURS=8

JIRA_IGNORED_STATUSES=Новый,New
JIRA_DAY_CLOSE_STATUSES=Закрыт,Closed,Отменен,Отменён,Включен в релиз,"Включён в релиз",Отложено
JIRA_JQL_TEMPLATE=project = ODP AND status NOT IN (${JIRA_IGNORED_STATUSES}) AND issuetype NOT IN (Epic) AND ((assignee = currentUser() AND status NOT IN (${JIRA_DAY_CLOSE_STATUSES})) OR (assignee WAS currentUser() AND updated >= "%s"))